<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|Teht6\SMLiiga.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <appSettings>
    <add key="ika" value="18"/>
    <add key="palkka" value="3000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <authentication mode="Forms">
      <forms path="Teht7/Default.aspx" loginUrl="Teht7/Login.aspx" name=".AUTHKEKSI">
        <credentials passwordFormat="Clear">
          <user name="jrouppi" password="salasana"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
  <location path="Teht7/Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>